  <div class="row featurette" style="padding: 30px 30px 30px 30px; background-color: #f7f7f7;">
  <div class="col-md-12 section-heading">
    <h1>Escopo</h1>
  </div>
  <div class="col-5 col-sm-2">
    <div class = "icon"><i class="fas fa-city fa-3x"></i></div>
    <h3>20 maiores cidades brasileiras</h3>
  </div>
  <div class="col-5 col-sm-4">
    <div class = "icon"><i class="fas fa-building fa-3x"></i></div>
    <div class = "icon"><i class="fas fa-school fa-3x"></i></div>
    <div class = "icon"><i class="fas fa-hospital fa-3x"></i></div>
    <h3>Trabalho, educação e saúde</h3>
  </div>
    <div class="col-5 col-sm-4">
    <div class = "icon"><i class="fas fa-bus fa-3x"></i></div>
    <div class = "icon"><i class="fas fa-walking fa-3x"></i></div>
    <div class = "icon"><i class="fas fa-bicycle fa-3x"></i></div>
    <h3>Três modos de transporte</h3>
  </div>
  <div class="col-5 col-sm-2">
    <div class = "icon"><i class="fas fa-clock fa-3x"></i></div>
    <h3>Pico e  fora-pico</h3>
  </div>
  </div>