<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-xl-4">
        <div class="footer-widget">
          <h3 style="font-weight: bold;">Endereço</h3>
        </div>
        <div class="footer-widget">
          Setor Bancário Sul, Qd. 01, Bl “J”<br>
          Edifício BNDES<br>
          CEP: 70.076-900<br>
          Brasília – DF
      </div>
      </div>
      <div class="col-sm-4 col-xl-4">
        <div class="footer-widget">
          <h3 style="font-weight: bold;">Contato</h3>
        </div>
        <div class="footer-widget">
          <a href="https://www.facebook.com/ipeaonline"><i class="fab fa-facebook fa-lg"></i> Facebook</a><br>
          <a href="https://twitter.com/ipeaonline"><i class="fab fa-twitter fa-lg"></i> Twitter</a><br>
          <a href="https://www.youtube.com/user/agenciaipea"><i class="fab fa-youtube fa-lg"></i> YouTube</a>
      </div>
      </div>
      <div class="col-sm-4 col-xl-4">
        <div class="footer-widget">
        <a href="http://ipea.gov.br/portal/"> <img src="/img/logos/logo_Ipea_Branco_PNG.png" width="300" style=" margin: 0;position: absolute; top: 50%; right: 20%; -ms-transform: translateY(-50%); transform: translateY(-50%);"></img></a>
      </div>
      </div>
    </div>
  </div>
</footer>


<!-- Old footer -->
<!-- <footer class="site-footer">

  <img src="/img/logos/logoipea_azul.png" width="400" align="right" ></img> -->
