<!--
<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-xl-4">
        <div class="footer-widget">
          <h3 style="font-weight: bold;">Endereço</h3>
        </div>
        <div class="footer-widget">
          Setor Bancário Sul, Qd. 01, Bl “J”<br>
          Edifício BNDES<br>
          CEP: 70.076-900<br>
          Brasília – DF
      </div>
      </div>
      <div class="col-sm-4 col-xl-4">
        <div class="footer-widget">
          <h3 style="font-weight: bold;">Contato</h3>
        </div>
        <div class="footer-widget">
          <a href="https://www.facebook.com/ipeaonline"><i class="fab fa-facebook fa-lg"></i> Facebook</a><br>
          <a href="https://twitter.com/ipeaonline"><i class="fab fa-twitter fa-lg"></i> Twitter</a><br>
          <a href="https://www.youtube.com/user/agenciaipea"><i class="fab fa-youtube fa-lg"></i> YouTube</a>
      </div>
      </div>
      <div class="col-sm-4 col-xl-4">
        <div class="footer-widget">
        <a href="http://ipea.gov.br/portal/"> <img src="/img/logos/logo_Ipea_Branco_PNG.png" width="300" style=" margin: 0;position: absolute; top: 50%; right: 20%; -ms-transform: translateY(-50%); transform: translateY(-50%);"></img></a>
      </div>
      </div>
    </div>
  </div>
</footer>

-->

<!-- Only thing that worked for footer (FLEXBOX): https://css-tricks.com/couple-takes-sticky-footer/ -->


<!-- New slim footer-->

<footer class="site-footer" style = "background-color: #10607E; height: 120px; background-color: #10607E; padding: 1px 0 0 0;">
  <div class="container-fluid" style = "max-width: 800px;padding-right: 15px;padding-left: 15px;margin-left: 15px;margin: auto;">
    <div class="row">
      <div class="col-6 col-xl-6" style="bottom: 8px;">
        <div class="footer-widget" style="margin-bottom: 10px;">
          <h3 style="color: #FDFEFE; font-family: Roboto, sans-serif;">Contato</h3>
        </div>
        <div class="footer-widget" style="margin-bottom: 10px;color: #FDFEFE;">
          <a href="https://www.facebook.com/ipeaonline"><i class="fab fa-facebook fa-lg" style="color: #FDFEFE;"></i></a>
          <a href="https://twitter.com/ipeaonline"><i class="fab fa-twitter fa-lg" style="color: #FDFEFE;"></i></a>
          <a href="https://www.youtube.com/user/agenciaipea"><i class="fab fa-youtube fa-lg" style="color: #FDFEFE;"></i></a>
      </div>
      </div>
      <div class="col-6 col-xl-6" style="margin-bottom: 10px;">
        <div class="footer-widget">
        <a href="http://ipea.gov.br/portal/"> <img src="/acessooportunidades/img/logos/logo_Ipea_Branco_PNG.png" width="200" style=" margin: 0;position: absolute; top: 50%; right: 20%; -ms-transform: translateY(-50%); transform: translateY(-50%);"></img></a>
      </div>
      </div>
    </div>
  </div>
</footer>

<!-- Old footer -->
<!--
<footer class="site-footer">

  <img src="/img/logos/logo_Ipea_Branco_PNG.png" width="400" align="right" ></img>

# cor azul:
  "#4F758B" # Pantone 5405 C
  "#3E5E6F" # PANTONE 548 U (darker)

  -->
